* {
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #dddddd;
  color: #666666;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.whiteMargin {
  padding: 5px;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  border-style: solid;
  border-width: 10px;
  border-color: #eeeeee;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  gap: 4px;
}

.name {
  color: #2f2f2f;
}

.population {
  color: #9e9e9e;
}

.hover {
  cursor: pointer;
}

.filter{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#lettersFilter {
  display: flex;
}

.divLetter {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
  margin: 5px;
}

.divLetter:hover{
    cursor: pointer;
}

.allBundesländer{
    height: 30px;
    width: 148.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDDDDD;
    margin: 5px;
    padding: 0 10px;
}

.allBundesländer:hover{
    cursor: pointer;
}

@media (max-width: 800px) {
  .whiteMargin {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .whiteMargin {
    width: 100%;
  }

  .filter{
    justify-content: center;
  }
}
